.contenedor{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}

.taskform{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taskform-text{
    background-color: azure;
    border-radius: 8px ;
    border: 4px solid transparent
}
.taskform-button {
    border-radius: 4px  ;
    border: 3px solid transparent ;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  .taskform-button:hover {
    border-color: #646cff;
  }
  
 
